*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #d9d9d9;
    text-align: center;
    line-height: 2rem;
}
header{
    padding: 70px;
}
main{
    border: solid black 1px;
    width: 60%;
    height: 60vh;
    padding: 30px;
    background-color: #fff;
    position: absolute;
    top: 20%;
    left: 20%;
}
button{
    width: 20%;
    height: 50px;
}

